/* TODO: style the html */

section{
    position: absolute;
    left: 200px;
    top: 190px;
}
h3{
    font-size: 16px;
    margin: 0px;
}
span{
    padding-left: 3px;
    color: gray;
    font-size: 14px;
}
div{
    position: relative;
    right:0px;
    bottom:50px;
    padding-left: 5px;
}