 <main>
            <h1>Create Accessory</h1>
            <div class="form">
                <form action="/accessory/create" method="POST">
                    <label for="Name">Name</label>
                    <input type="text" id="Name" name="Name">
                    <label for="Name">Description</label>
                    <textarea id="Description" name="Description"></textarea>
                    <label for="image">ImageUrl</label>
                    <input type="text" id="image_Url" name="image_Url">
                    <input type="submit" value="Create">
                </form>
            </div>
        </main>