<main>
      <h1>{{{name}}}</h1>
      <img class="cube" src="{{{image_Url}}}">
      <div class="details">
        <p><span>Description:</span> {{{description}}}</p>
        <p><span>Difficulty level:</span> {{{diff_level}}}</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>
    