<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../content/styles/site.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <title>{siteName}</title>
</head>

<body>
    <header>
        {navigation}
        <h1>{siteName}</h1>
    </header>
    <main>
        {shelterCat}
    </main>
    <script>
        document.getElementById('shelterCatForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);


            const xhr = new XMLHttpRequest();
            xhr.open('DELETE', form.getAttribute('action'), true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            xhr.send(JSON.stringify(data));


            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    window.location = "/";
                }
            };
        });
    </script>
</body>


</html>